{% extends 'portfolio/base.html' %}

{% block content %}
<body>
    <div id="name-section">
      <h1>Janak Datta</h1>
      <hr>
    </div>
    <div class="contact-info">
      <img src="1.jpg" alt="Janak Datta">
      <div>
        <p>Phone: 9734953777</p>
        <p>Email: jd783@njit.edu</p>
        <p>GitHub: <a href="https://github.com/DattaDandamudi">Janak Datta</a></p>
      </div>
    </div>
    <hr>
    <br>
    <div>
      <h1 class=>About Me</h1>
      <p id="info">As a highly motivated individual with a strong academic background in computer science and a deep passion for cybersecurity. 
        I am eager to launch my career in this exciting and challenging field. My strong analytical skills, attention to detail, and ability to think critically make me well-suited to a role as a cybersecurity engineer.
        I am quick to learn new technologies and have a strong desire to stay up-to-date with the latest advancements in the field. I am confident that my academic foundation, combined with my passion for cybersecurity, will enable me to make valuable contributions to any organization.
        I am excited to begin my journey in this dynamic industry and am eager to apply my skills and knowledge to real-world challenges.
      </p>
      
    </div>
    </div>
    <hr>
    <br>

    <div id="main-content">
      <h1>Education</h1>
      <table>
        <tr>
          <th>Degree</th>
          <th>Field of Study</th>
          <th>Graduation Date</th>
          <th>Name of College</th>
        </tr>
        <tr>
          <td>Graduation</td>
          <td>Cybersecurity</td>
          <td>2022-2024</td>
          <td>New Jersey Institute of Technology</td>
        </tr>
        <tr>
          <td>Bachelor of Science</td>
          <td>Computer Science Engineering</td>
          <td>2017-2021</td>
          <td>PVP Siddartha Engineering College</td>
        </tr>
      </table>

      <h1>Experience</h1>
      <table>
        <tr>
          <th>Company</th>
          <th>Position</th>
          <th>Duration</th>
        </tr>
        <tr>
          <td>Pinnacle Career Info</td>
          <td>Software Developer</td>
          <td>2021-2022</td>
        </tr>
      </table>

      <h1>Skills</h1>
      <table>
        <tr>
          <th>Skill</th>
          <th>Proficiency</th>
        </tr>
        <tr>
          <td>HTML</td>
          <td>Expert</td>
        </tr>
        <tr>
          <td>CSS</td>
          <td>Expert</td>
        </tr>
        <tr>
          <td>Python</td>
          <td>Expert</td>
        </tr>
      </table>
    </div>
      {% endblock %}
